*{
    margin: 20px;
}
#test{
    color: blue;
}

.card{
    border: black solid 1px;
    margin: 10px;
    background-color: palegoldenrod;
}
#card{
    background-color: grey;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 10s;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#id {
    visibility: hidden;
}

html {
    background-image: url("../img/movie_image.jpeg");
}


h3 {
    color: red;
    font-family: "Times New Roman";
}

#submit {
    background-color: red;
    color: black;
    font-family: "Times New Roman";
    font-weight: bold;
}

#submit2 {
    color:black;
    font-weight: bold;
    background-color: red;
    font-family: "Times New Roman";
}
.form-group{
    background-color: palegoldenrod;
}
body{
    background-color: gray;
}
#rating.list-group-item{
    background-color: gray;
}
.card-link{
    color: black;
}
#3{
    background-image: url("../img/rush1.jpeg");
}
#text{
    visibility: hidden;
}


